<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>Welcome to our community!</title>
</head>
<body>
  <h2>Hello {{userName}}! </h2>
  <p>We're glad to have you on board at {{apiName}}. </p>
  <a href={{siteUrl}}>Visit our Website!</a>
</body>
</html>